repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: venv/bin/ruff check
        language: system
        types: [python]
      - id: black
        name: black
        entry: venv/bin/black
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: venv/bin/pytest
        language: system
        pass_filenames: false
        always_run: true
